.grid__row {
  display: flex; /* phần nội dung giữa ---- */
}
.header {
  /* css nav header */
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

/* nav */
.header__navbar {
  display: flex;
  justify-content: space-between;
}
/*ul*/
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
/*---------------------user-----------------*/
.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
}
.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  border-radius: 50%;
}
.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}
/*---------menu tùy chọn user ---*/
.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: 100%;
  right: 0;
  width: 160px;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
  margin-top: 10%;
}
/*--- làm dấu nhọn ---*/
.header__navbar-user-menu::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -35px;
}
/* làm cầu nối */
.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 56%;
  height: 8px;
}
/* .header__navbar-user-item {
} */
/*---thẻ a ----*/
.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 4px 16px;
  display: block;
}
/*---bo góc ---*/
.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover {
  background-color: #fafafa;
}
/* hover mã QR thẻ trong thẻ li */
.header__navbar-item--has-qr:hover .header_qr {
  display: block; /* hiện mã QR */
}
/*li và  thẻ a*/
.header__navbar-item,
.header__navbar-item-link {
  display: inline-block; /* nằm trên cùng 1 hàng */
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}
/*li và  thẻ a và icon khi hover vào*/
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7); /*chữ mờ khi hover*/
}
/* chữ đăng kí đăng nhập */
.header__navbar-item-strong {
  font-weight: 400;
}
/* css dấu | viết đằng trước*/
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
/*link icon*/
.header__navbar-icon-link {
  color: white;
  text-decoration: none;
}
/*---fix khoảng cách icon fb */
.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}
.header__navbar-icon {
  margin: 0 4px;
}
/*css chữ kết nối */
.navbar__title {
  cursor: text;
  color: var(--white-color); /* di chuột vào chữ kết nối k hover*/
}
/*---------------------------------*/
/*css QR_CODE*/
.header_qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 118%; /* cao bằng thằng Li chứa nó*/
  padding: 8px;
  border-radius: 2px;
  display: none; /* ẩn hình QR_CODE*/
  animation: fadeIn ease-in 0.5s;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* tạo lớp giả để hover mã QR k bị mất-- cầu nối */
.header_qr::before {
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
}
.header__qr-img {
  width: 100%;
}
/*div icon apps AppStore-CHPlay*/
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
/*thẻ a bọc 2 icon app */
.header__qr-link:nth-child(1) {
  margin-left: 12px;
}
.header__qr-link:nth-child(2) {
  margin-right: 12px;
} /*----------------*/
/* class của 2 icon download app*/
.header__qr-download-img {
  height: 16px;
}

/*-------------//---------------//-------------*/
/*thông báo*/
.header__notify {
  position: absolute;
  z-index: 1;
  top: 118%;
  right: 0;
  width: 404px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: default;
  transform-origin: calc(100%-32px) top; /* tâm xuất hiện hiệu ứng thông báo */
  animation: headerNotifyGrowth ease-in 0.25s;
  display: none;
  will-change: opacity, transform;
  border-radius: 2px;
}
/* ---animation--*/
@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* dấu mũi tên nhọn chỗ thông báo */
.header__notify:before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}
/* làm cầu nối để hover chuột -k mất thông báo */
.header__notify:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -16px;
  width: 90px;
  height: 20px;
  /* background-color: red; */
}
/*-----------------*/
.header__notity-header {
  height: 40px;
  background-color: var(--white-color);
}
/*chữ thông báo mới nhận */
.header__notity-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}
.header__notity-list {
  padding-left: 0;
}
/* thẻ li */
.header__notify-item {
  list-style: none;
}
/*hover xuất hiện cả cái thông báo  */
.header__notify-item--has-notify:hover .header__notify {
  display: block;
}
/*khi hover và đổi nhạt màu */
.header__notify-item:hover {
  background-color: #f7f7f7;
}
/* màu nền thanh thông báo */
.header__notify-item--view {
  background-color: #ffccff;
  /*rgba(238, 75, 43, 0, 0.08);*/
}

/*thẻ a bọc ảnh và name */
.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}
/* img ảnh thông báo */
.header__notify-img {
  width: 48px;
  object-fit: contain; /* làm ảnh bình thường-- k méo */
  padding: 12px;
}
/* div bọc name thông báo và mô tả --------------------*/
.header__notify-info {
  margin-left: 12px;
}
/* name thông báo */
.header__notify-name {
  display: block;
  font-size: 1.4rem;
  /* color: var(--white-color); */
  font-weight: 400;
}
/* mô tả thông báo */
.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin: 4px;
}
/*-------------------*/
/*khung bọc chữ xem tất cả thông báo */
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  width: 100%;
  padding: 8px 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}
/*-----------------------------Authen Modal------------------------*/
/*bọc cả form */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden; /* ẩn thừa khi k bo góc dưới */
}
.auth-form__container {
  padding: 0 32px;
}
/* div bọc chữ đăng nhập đăng kí */
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}
/* đăng kí */
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
/* đăng nhập */
.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}
/* ô input */
.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none;
}
.auth-form__input:focus {
  border-color: #888;
}
/* div bọc chữ dưới ô input ---------*/
.auth-form__aside {
  margin-top: 18px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
} /*-------------------------*/
/*chữ link --*/
.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}
/* bọc nút trở lại- đăng kí */
.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
/* nút đăng kí */
.auth-form__controls-back {
  margin-right: 8px;
}
/* ----GG FB -----*/
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px; /*     */
}
/*icon*/
.auth-form__socials-icon {
  font-size: 1.2rem;
}
.auth-form__socials--fb {
  color: var(--white-color);
  background-color: #3a5a98;
}
.auth-form__socials--gg {
  color: var(--white-color);
  background-color: #ff7f50;
}
/*chữ ----fb gg */
.auth-form__socials-title {
  margin: 0 36px;
}
/*--------------LOGIN----------------*/
/*bọc chữ (quên MK và cần trợ giúp) */
.auth-form__help {
  display: flex;
  justify-content: flex-end; /*sang phải */
}
/*chữ link */
.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}
/* dấu | giữa  */
.auth-form__help-separate {
  display: block;
  height: 18px;
  margin: 1px 16px 0;
  border-left: 1px solid var(--border-color);
}
/*chữ quên MK */
.auth-form__help-fogot {
  color: var(--primary-color);
}

/*---------------------nav header ô search + logo */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
}
/* bọc logo */
.header__logo {
  width: 200px;
}
.header__logo -link {
  text-decoration: none;
  color: transparent;
}
/* logo */
.header__logo-img {
  width: 150px;
  margin-top: 22px;
  margin-left: 8px;
  color: var(--white-color);
}
/* ô search */
.header__search {
  flex: 1; /* full chiều ngang */
  height: 40px;
  background-color: var(--white-color);
  margin-top: 22px;
  display: flex;
  align-items: center;
}
/* ------------------bọc giỏ hàng ------------------*/
.header__cart {
  width: 150px;
  text-align: center;
}
/* bọc icon giỏ hàng + thông báo rỗng */
.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 60px;
  cursor: pointer;
}
/* giỏ hàng */
.header__cart-icon {
  font-size: 2.5rem;

  color: var(--white-color);
  margin-top: 18px;
}
.header__cart-wrap:hover .header__cart-list {
  display: block;
}
.header__cart-list {
  position: absolute;
  /* top: calc(100% +4px); */
  margin-top: 10px;
  right: 50px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none; /*ẩn ảnh giỏ hàng trống */
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
}
/*--------------------------------------------------*/
/* chữ SP đã thêm */
.header__cart-heading {
  text-align: center;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
/*------ bọc thông báo  */
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  height: 56vh; /* cho chiều cao thanh thông báo giỏ hàng */
  overflow-y: auto;
}
.header__cart-list-item:hover {
  background-color: #f8f8f8;
}
/*----li thông báo giỏ hàng khi có SP */
.header__cart-item {
  display: flex;
  align-items: center;
}
/* ảnh thông báo giỏ hàng */
.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  color: 1px solid #f8f8f8;
}
.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-name {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
/* dấu x */
.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
/* só lượng */
.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
}
.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}
/*nút xem giỏ hàng */
.header__cart-view-cart {
  /* đẩy sang right */
  float: right;
  margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
  background-color: #f05d41;
}
/*----------------------------------------------------*/
/*---làm dấu mũi tên nhọn */
.header__cart-list::after {
  cursor: pointer;
  content: " ";
  position: absolute;
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list--no-cart {
  padding: 24px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*-- ảnh giỏ hàng trống */
.header__cart-no-cart-img {
  width: 54%;
  /* ẩn ảnh giỏ hàng trống */
  display: none;
}
/* chữ chưa có SP ---*/
.header__cart-list-no-cart-msg {
  display: none;
  /* display: block; */
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}
/*-- số sản phẩm đã lưu (Có Số 3)--*/
.header__cart-notice {
  position: absolute;
  top: 6px;
  right: 40px;
  padding: 1px 8px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  background-color: var(--white-color);
}
/*-----------------------------------------*/
/* bọc ô tìm kiếm */
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
/*----------ô input search */
.header__search-input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

/*---bọc chữ trong shop và dấu mũi tên */
.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}
/* hiện thông báo select */
.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-label {
  font-size: 1.4rem;
  color: var(--text-color);
}
/* icon mũi tên  */
.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}
/* nút icon search */
.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}
.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}
.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}
/* chữ trong shop , ngoài shop */
.header__search-option {
  position: absolute;
  right: 0;
  top: 110%;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 2px #0e0e0e; /* đổ bóng chữ */
  padding-left: 0;
  border-radius: 2px;
  font-size: 1rem;
  margin-top: 12px;
  display: none; /* cho ẩn đi */
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}
/* thêm cầu nối------khi di chuột vào hover select */
.header__search-option::after {
  content: " ";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}
.header__search-option-item {
  background-color: var(--white-color);
  display: flex;
  padding: 8px 8px;
}
/* khi hover */
.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
/* bo góc */
.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
/*-------------*/
.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}
.header__search-option-item i {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}
.header__search-option-item--active i {
  display: block;
}
/*-----------Lịch Sử Tìm Kiếm -------------*/
/* trỏ chuột vào input lịch sử tìm kiếm */
.header__search-input:focus ~ .header__search-history {
  display: block;
}
.header__search-history {
  position: absolute;
  top: calc(100+2px);
  left: 0;
  margin-top: 2px;
  /* width: calc(100%-16px); */
  width: 100%;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(189, 189, 189);
  display: none; /* ẩn đi */
  overflow: hidden;
  z-index: 1;
}
/* chữ lịch sử tìm kiếm */
.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}
.header__search-history-item {
  background-color: #fafafa;
}
.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 38px;
  color: var(--text-color);
}
/*-----------------------------------------------------------------------------*/
/* phần container    */
.app__container {
  background-color: #f5f5f5;
}
.app__content {
  padding: 36px;
}
/* danh mục */
.category {
  border-radius: 2px;
  background-color: var(--white-color);
}
/* chữ */
.category__heading {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 16px 16px 0;
  margin-top: 0;
  text-transform: uppercase;
}
/* .category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1;
} */
/*----------*/
/* ul li danh mục  */
.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  /* margin-left: 9px; */
}
.category-item {
  position: relative;
}
.category-item :first-child::before {
  display: none;
}
.category-item ::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}
/* .category-item--active .category-item__link:before {
  position: absolute;
  top: 40%;
  left: 7px;
  content: "";
  border: 4px solid;
  transform: translateY(cacl(-50%));
  border-color: transparent transparent transparent var(--primary-color);
} */
.category-item__link {
  position: relative;
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 6px 20px;
  display: block;
  /* hiệu ứng chữ dịch sang phải khi hover */
  transition: right linear 0.1s;
  right: 0;
}
.category-item__link:hover {
  right: -4px; /* hover chữ sang phải */
  color: var(--primary-color);
}
/*-----------------------home + sort +filter */
.home-filter {
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
/*3 nút */
.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/*--- số góc phải */
.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}
.home-filter__page-current {
  color: var(--primary-color);
}
.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
  margin-left: 2px;
}
.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  text-decoration: none;
}
/* disabled styles */
.home-filter__page-btn--disabled {
  cursor: default;
  background-color: #f9f9f9;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}
/* kẻ dọc nút <> */
.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}
.home-filter__page-icon {
  /* margin: auto; */
  margin-top: 13px;
  margin-left: 15px;
  font-size: 1.4rem;
  color: #555;
}
/*------------------ product item ----------------*/
.home-product {
  margin-bottom: 10px;
}
.home-product-item {
  display: block;
  position: relative;
  margin-top: 10px;
  background-color: var(--white-color);
  text-decoration: none;
  /*-------------*/
  border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform ease 0.1s;
  will-change: transform; /* để transform hiểu */
}
.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px rbga(0, 0, 0, 0.05);
}
.home-product-item__img {
  /* padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  width: 100%;
  height: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-position: top center;
}
.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 6px;
  overflow: hidden; /* ẩn chữ khi vượt quá width */
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* dòng có dấu ... là dòng số 2 */
}
.home-product-item__price {
  display: flex;
  margin-left: 10px;
  align-items: baseline;
  flex-wrap: wrap; /* khi giá dài quá , nó sẽ tự xuống dòng */
}
/* giá cũ */

.home-product-item__price-old {
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}
/* giá mới */
.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 6px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.home-product-item__like {
  font-size: 1.3rem;
}
/* đã tym */
.home-product-item__like-icon-fill {
  color: #f63d30;
  display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}
/* ngôi sao */
.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}
/* ngôi sao màu vàng */
.home-product-item__start--gold {
  color: var(--start-gold-color);
}
.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}
.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}
.home-product-item__origin-name {
  margin-left: auto;
}
/* chữ yêu thích */
.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: currentColor;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* thêm nếp gấp chỗ chữ yêu thích */
.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.home-product-item__favourite span {
  color: var(--white-color);
}
.home-product-item__favourite i {
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 3px 0 5px;
}
/* ---------------------phần giảm giá-------------- */
.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64, 0.94);
  border-top-right-radius: 2px;
}
/* thêm phần nhọn chỗ giảm giá */
.home-product-item__sale-off::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  color: rgba(255, 216, 64, 0.94);
  border-color: transparent currentColor transparent currentColor;
}
.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  top: 1px;
}
.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: -1px;
  font-weight: 600;
}
.home-product__pagination {
  /* margin-top: 300px 50 50px 0; */
  margin-top: 5%;
  display: flex; /* để nằm ngang */
}
/*------------------Phần Footer ----------------------*/
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
}
.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.footer-list {
  padding-left: 0;
  list-style: none;
}
.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: flex;
  align-items: center;
}
.footer-item__link:hover {
  color: var(--primary-color);
}
.footer-item__icon {
  font-size: 1.6rem;
  margin: -1 8px 0 0;
}
.footer__download {
  display: flex;
}
.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}
.footer__download-apps {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__download-app-img {
  height: 16px;
}
.footer__download-app-link {
  color: transparent;
  text-decoration: none;
}
.footer__bottom {
  padding: 8px 0;
  background-color: #f5f5f5;
  margin-top: 36px;
}
.footer__text {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  color: #737373;
}
